<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/table.css">
    <link rel="icon" href="favicon.ico">
    <title>Big Brain, Big Books</title>
  </head>

  <!-- <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
      <div class="container">
          <a class="navbar-brand js-scroll-trigger" href="index.html">Oconee County Fire Rescue</a>
          <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
              Menu
              <i class="fas fa-bars"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
              <ul class="navbar-nav ml-auto">
                  <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="func/detail_view/member_view.html">Member</a></li>
                  <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="func/detail_view/certification_view.html">Certification</a></li>
                  <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="func/data_entry/mbr_cert_insert.html">Update Certification</a></li>
              </ul>
          </div>
      </div>
  </nav> -->


<!-- Body -->

  <body>
    <br>
    <div class="container" id="agencySearch">

      <h1>Find agency</h1>
      <h3>Enter name:<h3>
      <br>
      <form method="POST" id="searchForm" v-on:submit.prevent="postSearch">
          <input class="form-control" type="text" id="searchBox" placeholder="Name" v-model="searchTerm">
          <button type="submit" class="btn btn-primary">Search</button>
      </form>
      <br>
      <div v-if="noResultsText">
        There is no results for the search term: {{searchTermStatic}}.
      </div>
      <div v-if="tableToggle">
        <div class="table-responsive" v-if="tableToggle">
          <table class="table table-bordered table-hover table-sm">
            <thead>
              <tr>
                <th scope="col">Agency Name</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="i in searchResults" v-on:click="tableOnClickHandler(i)">
                <td>{{i.agency_name}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <br>
      <h3>OR pick from list:</h3>


      <select v-model='selection'>
        <option v-for="i in listContainer" v-bind:value="{id: i.agency_id}">
          {{ i.agency_name }}
        </option>
      </select>

      <br>
      <br>
      <button type="submit" class="btn btn-primary" id="listGoButton" v-on:click="setId">Go</button>


      <br>

    </div>

    <br>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="/js/common/search_agency.app.js"></script>

  </body>




</html>
